[submodule "Hana/vendor/spdlog"]
	path = Hana/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Hana/vendor/GLFW"]
	path = Hana/vendor/GLFW
	url = https://github.com/GameDev-Shiki/glfw
	branch = master
	ignore = dirty
[submodule "Hana/vendor/imgui"]
	path = Hana/vendor/imgui
	url = https://github.com/GameDev-Shiki/imgui
	branch = docking
	ignore = dirty
[submodule "Hana/vendor/glm"]
	path = Hana/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
